@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: red 1px solid; */
}
body {
  background: #cbcbcb;
  background: -webkit-linear-gradient(#fff, rgb(57, 57, 57));
}

li {
  list-style: none;
  font-weight: bold;
}
.gridCom:nth-child(even) {
  flex-direction: row-reverse;
}
section,
footer {
  margin-inline: auto;
  max-width: 60em;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

.Skills li {
  font-family: "Poppins";
  font-weight: 200;
}
.Portfolio {
  background-color: #fff;
}

.Close {
  display: none;
}

.Burger {
  display: block;
  display: flex;
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: height 1s ease-in-out;
}